*{
    margin: 0;
    padding: 0;
}
body{
   width: 870px;
   margin: 0 auto;
   
}
header{
    width: 870px;
    display:flex;
    background-color: whitesmoke;
    justify-content: space-around;
    margin:0 auto;
    align-items: center;
   
}
header h1{
    margin-left: 62px;
    font-size: 15px;
}

 header a{
    text-decoration: none;
    margin-top: 20px;
    color:black;
    font-weight: bold;
    font-size: 13px;
    margin-left: 10px;
      
}

header a:hover{
    color:gold;
}
nav{
    
    align-items: center;
    justify-content: space-between;
        
}
.iconos i{
    margin-right: 8px;
}

.iconos i:hover{
    color:gold;
}

.texto_hero{
    width: 400px;
    flex-direction: column;
    margin-left: 10px;
   
}

.texto_hero h1{
    font-size: 23px;
    font-weight: 30px;
    border-right: 7px solid  #90a378; 
    width: 291px;
    height: 29px;
        
}

.texto_hero h2{
    font-size: 18px;
    
}
.texto_hero h3{
    font-size:9px;
}

.hero{
    width: 820px;
    height: 270px;
    background-color:gold;
    display: flex;
    padding: 72px 0 0 72px;
    margin: 0 auto;
     
 }

 .foto_hero{
    
    display: flex;
    
}
.fotoHero img{

    width: 45%;
    border-radius: 100%; 
    border-color:#638741;
    margin-left: 110px;
    margin-bottom: 60px;
    
    border:solid 8px #90a378 ;
 
}

 .flexhero{
    display: flex;  
    width: 400px;
    align-items: center;
    
        
}
.boton a{
    background-color: black;
    color: white;
    padding: 0 10px;
    font-size: 10px;
}
.contactame{
    
    margin-left: 15px;
    font-size: 9px;  
 
}
.flechita{
   padding: 5px; 
    
}
.flechita2{
    margin-top: 100px;
    margin-left: 345px;
}

.perfil{
    margin: 0 auto;
    width: 873px;
    background-color:rgba(255, 255, 255, 0.938)
    
    
}
.miPerfil{

    text-align: center;
    
    padding: 35px;
}
.boton2{
   
    background-color:gold;
    padding: 0 15px;
    border-color: #d4f2b8; 
    
}

.boton2{
    font-size: 10px;
    color: black;
}
.miPerfil p{
    font-weight: bold;
    font-size: 20px;
    
}
.flex{
    display: flex;
}
.descripcion{
    
    width: 50%;
    margin-left: 70px;
    
    
}
.descripcion h1{
    font-size: 15px;
}
.descripcion p{
    margin-top: 8px;
    text-align: justify;
}
span u{
    text-decoration:underline gold solid 3px;
    margin-top: 10px;
}
.experiencia{
    width: 50%;
    
    margin-left: 60px;
    text-align: center;
}

.redondo{
    margin-top: 30px;
    font-size: 12px;
    font-weight: bold;
    background-color: gold;
    border-radius: 50%;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}
.datos{
    padding: 40px 0;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    
}
.datos h3{
    font-size: 10px;
}
.datos p{
    font-size: 11px;
    
}
.servicios{
    background-color:whitesmoke ;
    padding: 30px;
    width: 830px;
    margin: 0 auto;
}
.miServicios{
    text-align: center;
}

.boton3{
   padding: 0 15px;
    border-color: #d4f2b8;
    background-color:gold;
       
}

.boton3{
    font-size: 10px;
    color: black;
}
.miServicios p{
    font-weight: bold;
    font-size: 20px; 
    
}
.flexServicios{
    display: flex;
}
.flexServicios2{
    display: flex;
}
.icono, .disenio_grafico{
    display: flex;
    justify-content: center;
    font-size: 12px;
    
}
.flexServicios p, .flexServicios2 p{
    text-align: center;
    margin: 10px;
}
.icono, .disenio_web{
    display: flex;
    justify-content: center;
    font-size: 12px;
}
.icono, .desarrollo_web{
    display: flex;
    justify-content: center;
    font-size: 12px;
}
.icono, .marca{
    display: flex;
    justify-content: center;
    font-size: 12px;
}
.icono, .negocios{
    display: flex;
    justify-content: center;
    font-size: 12px;
    
}
.icono, .marketing_digital{
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.bi-display {
   color:  gold;

}

.bi-images{
    color:gold;
}   
    
 .bi-pencil-square{
    color: gold;
 }

 .bi-magic{
    color:gold;
 }
 .bi-file-bar-graph{
    color:gold;
 }

 .bi-globe {
    color:gold;
 }
 .curriculum{
    background-color:rgba(255, 255, 255, 0.938);
    padding: 20px;
    width: 870px;
    
 }
 .miCurriculum{
    text-align: center;
    padding: 20px;  
    
}
.boton4{
    padding: 0 15px;
    border-color: #d4f2b8;
    background-color:gold;
              
 }
     
 .boton4{
     font-size: 10px;
    color: black;
    
}
.miCurriculum p{
    font-weight: bold;
    font-size: 20px;  
}
.flexCurriculum { 
    
    display: flex;
    
}
.educacion{
    width: 70%;
    padding: 7px 60px;
    font-size: 20px;
    
}
.educacion h1{
    
    font-size: ;
    
}

.miEducacionTitulos {
    margin-left: 60px;
    font-size: 20px;
    padding: 0px 20px 0 6px;
    border-left: 2px solid gold;
    margin-top: 1px;
    height: 200px;
    width:65% ; 
    
}
.miEducacionTitulos h2 {
    font-weight: 10px;
    font-size: 15px;
    
}
.miEducacionTitulos h3{
    font-size: 10px;
    font-weight: 10px;

}

.miEducacionTitulos p{
    font-size:  10px;  

}

.experiencia2 h1{
    font-size: 20px;
    padding: 6px 32px 5px 0px;
    margin-left: 32px;
    width: 54%;
    
}

.miExperiencia{
    
    padding: 0px 0px 0px 4px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    border-left: 2px solid gold;
    margin-top: 7px;
    height:200px;
    width: 83%;
    
    
}
.miExperiencia h2 {
    padding: 0;
    font-size: 15px; 
    font-weight: 10px;;

}
.miExperiencia p{
    font-size:  10px; ;
}
.miExperiencia h3{
    font-size: 10px;
    font-weight: 10px;
}

.jr{
    padding: 5px 1px  2px 0 0;
    margin-bottom: 4px;

}
.adobe{
    padding-bottom: ;
    margin-top: 3px;

}
.habilidades{
    width: 600px;
    padding: 5px 55px;
} 
.habilidades h1{
    font-size: 20px;
    margin-right: 30px;
    padding-left: 3px;
}  

.flexhabilidades {
    display: flex;
}

.barraiz{
    width: 41%;
    padding: 1px 58px;
    margin-left: ;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
     
}
    
.contenedor{
    height: 3px;
    width: 90%;
    
    background-color: #90a378;
    
}
.barraiz {
    display: flex;
}
.barraiz h3{
    font-size: 10px;
}
.disenioweb{
    padding: 0 0 0 0;
    height: 4px;
    
    
}
.dw{
    height:3px ;
    width: 65%;
    background-color:gold;
        
}
.diseniohtc{
    height: 4px;
    margin-top: 12px;
}

.htc{
    height:3px ;
    width: 95%;
    background-color: gold;
    padding: 0; 
}
.diseniojs{
    height: 4px;
    margin-top: 12px;
}

.js{
    height:3px ;
    width: 80%;
    background-color: gold;
}
.barrader{
    width: 40%;
    height: 3px;
    padding: 3px 0 0 2px;
    margin-left: 14px;
    
}

.barrader h3{
    font-size: 10px;
}
.diseniorjs{
    height: 3px;
}
.rjs{
    height:3px ;
    width: 70%;
    background-color: gold;
    display: flex;
}
.disenioan{
    height: 4px;
    margin-top: 12px;
}
.an{
    height:3px ;
    width: 60%;
    background-color: gold;
    display: flex;
}
.diseniobo{
    height: 4px;
    margin-top: 12px;
}
.bo{
    height:3px ;
    width: 99%;
    background-color: gold;
    display: flex;
}

.w{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    padding: 0 0 0 1px;
}
.h{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}
.j{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}
.r{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    padding: 0 0px 0 0px;
}
.a{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}
.b{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}
.contenedorboton{
    padding: 0 380px;
    width: 835px;
    margin-top: 10px;
    
}
.botoncv{
    font-size: 10px;
    padding: 14px;
    border-color: #d4f2b8;
    align-content: center;  
}
.portfolio{
    background-color:whitesmoke;
    padding: 50px 27px 0;
    width: 870px;
    margin: 0 auto;
    
 }
 .miPortfolio{
    text-align: center;
    padding: 20px;  
    
}
.boton5{
    font-size: 10px;
    background-color:#90a378;
    padding: 0 15px;
    border-color: #d4f2b8;
}
.miPortfolio p{
    font-weight: bold;
    font-size: 20px;  
}
.flexfotos1{
    padding: 6px 92px;
    display: flex;
    width: 20%;
    height: 340px;
    
}
.flexfotos1 img{
    border: 7px solid whitesmoke;
}

.flexfotos2{
    display: flex;
    width: 20%;
    height: 340px;
    padding: 0px 2px 0px 90px;
    display: flex;
    
}
.flexfotos2 img{
    border: 7px solid whitesmoke;
}
.contacto{
    width: 870px;
    margin: 0 auto;
    margin-top: 40px;
    
    
}
.flexcontacto{
    display: flex;
   
    
    
}
.contactoDatos {
    /*flex-direction: column;*/
    width: 430px;
    height:350px ;
    background-color: gold;
    padding: 15px 20px 40px 15px;
    background-color: aqua;
    
    
   
}
.contactoDatos h1{
    font-size: 20px;
    padding: 0 103px  0 0 ;
    margin-top: 20px;
    margin-left: 100px;
    width: 430px;
}
.contactoDatos p{
    padding: 8px 103px  0 0 ;
    margin-left: 100px;
    font-size: 13px;
    
}

.domtel h2{
    padding: 8px 103px  0 0 ;
    margin-left: 100px;
    font-size: 13px;

}
.domtel p{
    padding: 8px 103px  0 0 ;
    margin-left: 100px;
    font-size: 13px;

}  

.redes{
    padding: 0 103px  0 0 ;
    margin-top: 20px;
    margin-left: 100px;
}

.presupuesto{
    background-color: gold;
    width:440px;
    margin-left: 22px;
    padding: 15px;
    margin: 0 auto;
}

.presupuesto h1{
    display: flex;
    background-color: gold;
    flex-direction: column;
    padding: 20px 0px 40px 15px;
    width: 440px;
    background-color: aquamarine;
    
    
}
.redes{
    padding: 8px 103px  0 0 ;
}

.redes a{
    text-decoration: none;
    margin-top: 20px;
    color:black;
    font-weight: bold;
    font-size: 13px;
    
}

.redes i:hover{
    color:gold;
}
label{
    font-size: 13px;
}

form{
    display: flex;
    flex-direction: column;
    width: 319px;
}
input[type=text]{
    border: 0;
    border-bottom: 1px solid  #90a378;;
    padding: 20px;
    background-color: gold;
}
input[type=email]{
    border: 0;
    border-bottom: 1px solid  #90a378;;
    padding: 20px;
    background-color: gold;
}
textarea{
    border: 0;
    border-bottom: 1px solid  #90a378;
    padding: 19px;
    background-color: gold;
}


button{
    width: 100px;
    text-align: center;
    padding: 8px 10px;
    background-color: black;
    color: white;
    font-size: 10px;

}
.bi-arrow-right-short{
    color: white;
}



