*{
    margin: 0;
    padding: 0;
}
body{
   width: 800px;
   margin: 0 auto;
   
}
header{
    width: 870px;
    display:flex;
    background-color: whitesmoke;
    justify-content: space-around;
    margin:0 auto;
    align-items: center;
   
}
header h1{
    margin-left: 54px;
}

a{
    text-decoration: none;
    margin-top: 20px;
    color:black;
    font-weight: bold;
    font-size: 13px;
    margin-left: 10px;
      
}
a:hover{
    color:gold;
}
nav{
    
    align-items: center;
    justify-content: space-between;
        
}
i:hover{
    color:gold;
}
h1{
    font-size: 20px;
}
.hero{
    width: 800px;
    height: 250px;
    background-color:gold;
    display: flex;
    padding: 72px 0 0 72px;
    margin: 0 auto;
     
 }

 .foto_hero{
    
    display: flex;
    
}
.fotoHero img{

    width: 45%;
    border-radius: 100%; 
    border-color:#638741;
    margin-left: 110px;
    margin-bottom: 60px;
    border:solid 6px white;
 
}
.texto-hero{
    width: 400px;
    flex-direction: column;
    margin-left: 50px;

    
}
h1{
    font-weight:1px;
}
h2{
    font-size: 28px;
    font-weight: 28px;
}
h3{
    font-size:10px ;
}
.botones{
    display: flex;  
    
    width: 400px;
    align-items: center;
        
}
.boton{
    background-color: black;
    color: white;
    padding: 0 15px;
    font-size: 10px;
}
.contacto{
    
    margin-left: 15px;
    font-size: 9px;  
 
}
.flechita{
   padding: 5px; 
    
}

.perfil{
    margin: 0 auto;
    width: 873px;
    background-color:rgba(255, 255, 255, 0.938)
    
    
}
.miPerfil{
    text-align: center;
    
    padding: 35px;
}
.boton2{
    font-size: 10px;
    background-color:gold;
    
    padding: 0 15px;
    border-color: #d4f2b8;
    
}
.miPerfil p{
    font-weight: bold;
    font-size: 20px;
    
}
.flex{
    display: flex;
}
.descripcion{
    
    width: 50%;
    margin-left: 70px;
    
    
}
.descripcion p{
    margin-top: 8px;
    text-align: justify;
}
span u{
    text-decoration:underline #90a378 solid 3px;
    margin-top: 10px;
}
.experiencia{
    width: 50%;
    
    margin-left: 60px;
    text-align: center;
}

.redondo{
    margin-top: 30px;
    font-size: 12px;
    font-weight: bold;
    background-color: gold;
    border-radius: 50%;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}
.datos{
    padding: 40px 0;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    
}
.datos p{
    font-size: 11px;
    
}
.servicios{
    background-color:whitesmoke ;
    padding: 30px;
    width: 814px;

}
.miServicios{
    text-align: center;
}

.boton3{
    font-size: 10px;
    background-color:#90a378;
    
    padding: 0 15px;
    border-color: #d4f2b8;
    
}
.miServicios p{
    font-weight: bold;
    font-size: 20px; 
    
}
.flexServicios{
    display: flex;
}
.flexServicios2{
    display: flex;
}
.icono, .disenio_grafico{
    display: flex;
    justify-content: center;
    font-size: 12px;
    
}
.flexServicios p, .flexServicios2 p{
    text-align: center;
    margin: 10px;
}
.icono, .disenio_web{
    display: flex;
    justify-content: center;
    font-size: 12px;
}
.icono, .desarrollo_web{
    display: flex;
    justify-content: center;
    font-size: 12px;
}
.icono, .marca{
    display: flex;
    justify-content: center;
    font-size: 12px;
}
.icono, .negocios{
    display: flex;
    justify-content: center;
    font-size: 12px;
    
}
.icono, .marketing_digital{
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.bi-display {
   color:  green;

}

.bi-images{
    color:green;
}   
    
 .bi-pencil-square{
    color: green;
 }

 .bi-magic{
    color:green;
 }
 .bi-file-bar-graph{
    color:green;
 }

 .bi-globe {
    color:green;
 }
 .curriculum{
    background-color:rgba(255, 255, 255, 0.938);
    padding: 20px;
    width: 835px;
    
 }
 .miCurriculum{
    text-align: center;
    padding: 20px;  
    
}
.boton4{
    font-size: 10px;
    background-color:#90a378;
    padding: 0 15px;
    border-color: #d4f2b8;
    
}
.miCurriculum p{
    font-weight: bold;
    font-size: 20px;  
}
.flexCurriculum { 
    
    display: flex;
    
}
.educacion{
    width: 60%;
    padding: 7px 100px;
}
.educacion h1{
     
    font-size: 20px;
    
}

.miEducacionTitulos {
    margin-left: 100px;
    font-size: 20px;
    padding: 0 41px 1px 6px;
    border-left: 2px solid gold;
    margin-top: 1px;
    
    
}
.miEducacionTitulos h2 {
    
    font-size: 15px;
    
}
.miEducacionTitulos p{
    font-size:  13px;
    

}

.experiencia2 h1{
    font-size: 20px;
    padding: 8px 71px 2px 40px;
    
}

.miExperiencia{
    
    padding: 2px 20px 0 6px;
    display: flex;
    flex-direction: column;
    margin-left: 39px;
    border-left: 2px solid gold;
    margin-top: 6px;
        
    
}
.miExperiencia h2 {
    
    font-size: 15px; 

}
.miExperiencia p{
    font-size:  13px; ;
}
.jr{
    padding: 2px 0;
}
.ht{
     
    margin-top: 1px;
}
.habilidades{
    
    padding: 10px 100px;
}   

.flexhabilidades {
    display: flex;
}

.barraiz{
    width: 34%;
    padding: 1px 89px;
    margin-left: 13px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
    
.contenedor{
    height: 3px;
    width: 90%;
    background-color: #90a378;
    
}
.barraiz {
    display: flex;
}
.disenioweb{
    padding: 0 0 0 0;
    height: 4px;
    
    
}
.dw{
    height:3px ;
    width: 65%;
    background-color:gold;
        
}
.diseniohtc{
    height: 4px;
    margin-top: 12px;
}

.htc{
    height:3px ;
    width: 95%;
    background-color: gold;
    padding: 0; 
}
.diseniojs{
    height: 4px;
    margin-top: 12px;
}

.js{
    height:3px ;
    width: 80%;
    background-color: gold;
}
.barrader{
    width: 37%;
    height: 3px;
    padding: 3px 0 0 2px;
    
}
.diseniorjs{
    height: 3px;
}
.rjs{
    height:3px ;
    width: 70%;
    background-color: gold;
    display: flex;
}
.disenioan{
    height: 4px;
    margin-top: 12px;
}
.an{
    height:3px ;
    width: 60%;
    background-color: gold;
    display: flex;
}
.diseniobo{
    height: 4px;
    margin-top: 12px;
}
.bo{
    height:3px ;
    width: 99%;
    background-color: gold;
    display: flex;
}

.w{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    padding: 0 0 0 1px;
}
.h{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}
.j{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}
.r{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    padding: 0 0px 0 0px;
}
.a{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}
.b{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}
.contenedorboton{
    padding: 0 380px;
    width: 835px;
    margin-top: 10px;
    
}
.botoncv{
    font-size: 10px;
    padding: 14px;
    border-color: #d4f2b8;
    align-content: center;  
}
.portfolio{
    background-color:whitesmoke;
    padding: 50px 27px;
    width: 820px;
    
 }
 .miPortfolio{
    text-align: center;
    padding: 20px;  
    
}
.boton5{
    font-size: 10px;
    background-color:#90a378;
    padding: 0 15px;
    border-color: #d4f2b8;
}
.miPortfolio p{
    font-weight: bold;
    font-size: 20px;  
}
.flexfotos1{
    padding: 6px 92px;
    display: flex;
    width: 20%;
    height: 340px;
    
}
.flexfotos1 img{
    border: 7px solid whitesmoke;
}

.flexfotos2{
    display: flex;
    width: 20%;
    height: 340px;
    padding: 0px 2px 0px 90px;
    display: flex;
    
}
.flexfotos2 img{
    border: 7px solid whitesmoke;
}
